<sprk-card
  cardType="base"
  idString="card-1"
  additionalClasses="sprk-c-Card--full sprk-u-mbl">
    <div class="sprk-o-Stack__item sprk-c-Card__content sprk-o-Stack sprk-o-Stack--medium">
      <div class="sprk-u-mbm sprk-u-mlm">
          <div *ngIf="isLoading" class="skeleton-screen-header"></div>
          <h3 *ngIf="!isLoading" class="sprk-b-TypeDisplayFour">
            {{title}}
          </h3>
      </div>
      <div *ngIf="isLoading" class="skeleton-screen-body"></div>
      <div *ngIf="!isLoading">
        <div *ngIf="!hasError" class="sprk-o-Box--large main-content">
            Main Content
        </div>
        <div *ngIf="hasError" class="sprk-o-Box--large main-content">
            Error Content
        </div>
      </div>
    </div>
</sprk-card>
